.Rproj.user
.Rhistory
.RData
.Ruserdata
Notas rmarkdown.txt
Design of a Spatial Depopulation Risk Indicator.pdf
Design of a Spatial Depopulation Risk Indicator_desconfig.pdf
~$dalgo_Arellano_Isidro, Fernández-Avilés_Calderón_Gema_Resumen_XI_JDUCLM.docx
Poster.Rmd
Poster.html
